<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <section class="nav">
            <h2>Nav</h2>
            <nav>
                <ul class="navbar">
                    <li>Home</li>
                    <li>About</li>
                    <li>Clients</li>
                    <li>Contact us</li>
                </ul>
            </nav>
        </section>

        <main class="content">
            <h2>Main Content</h2>
            <p><strong>I'm first in the source order.</strong></p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, incidunt ipsum blanditiis est qui maiores expedita minima perferendis explicabo optio minus, cumque dolorum temporibus vitae illum impedit, quisquam voluptate aut.
            </p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, incidunt ipsum blanditiis est qui maiores expedita minima perferendis explicabo optio minus, cumque dolorum temporibus vitae illum impedit, quisquam voluptate aut.
            </p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, incidunt ipsum blanditiis est qui maiores expedita minima perferendis explicabo optio minus, cumque dolorum temporibus vitae illum impedit, quisquam voluptate aut.
            </p>
        </main>

        <aside class="sidebar">
            <h2>Sidebar</h2>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti cumque ipsam velit optio!Saepe fugit qui veritatis natus, aliquam iure modi? Quo, reprehenderit? Dolor aspernatur, cum ab assumenda iusto culpa repellendus saepe commodi distinctio at eius non repudiandae quasi quo earum obcaecati? Hic.</p>
        </aside>
    </div>
    
</body>
</html>